.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 60px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 8px;
    border-radius: 15px;
    
}

h1 {
    text-align:  center;
}
select {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
}

footer {
    text-align: center;
    margin: 10px 8px;
}

.city {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.city:last-child {
    border: none;
}